templates/HDF-Workshop_Lab1-Flow.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>33eedf44-0157-1000-1a70-75a5f35e4823</groupId>
  <name>HDF-Workshop Lab1-Flow</name>
  <snippet>
    <connections>
      <id>44a138c3-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>44ab43b1-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>text message</selectedRelationships>
      <source>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>449c6bd0-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>44ac3660-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>44fa1e10-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>44ab43b1-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>45010a1f-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>4510e5bf-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>44fa1e10-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>45011e88-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>732.7288636391204</x>
        <y>58.42665242260318</y>
      </bends>
      <bends>
        <x>889.3201722328704</x>
        <y>61.32655476635318</y>
      </bends>
      <destination>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>44fa1e10-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>44fa1e10-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4511a16e-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>454f5be0-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>split</selectedRelationships>
      <source>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>4510e5bf-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4511bd6b-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>731.2786683266204</x>
        <y>607.9452071101032</y>
      </bends>
      <bends>
        <x>863.2215394203704</x>
        <y>607.9452071101032</y>
      </bends>
      <destination>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>4510e5bf-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>4510e5bf-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>457da251-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1347.9935120766204</x>
        <y>607.7201094538532</y>
      </bends>
      <bends>
        <x>1403.5735902016204</x>
        <y>645.1761641413532</y>
      </bends>
      <destination>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>454f5be0-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>454f5be0-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4d6e96ce-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>4d6dd6d2-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>33eedf44-0157-1000-0000-000000000000</groupId>
        <id>454f5be0-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>44a29f15-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Input Buffer Size</key>
          <value>
            <name>Input Buffer Size</name>
          </value>
        </entry>
        <entry>
          <key>Max Text Message Size</key>
          <value>
            <name>Max Text Message Size</name>
          </value>
        </entry>
        <entry>
          <key>Max Binary Message Size</key>
          <value>
            <name>Max Binary Message Size</name>
          </value>
        </entry>
        <entry>
          <key>WebSocket URI</key>
          <value>
            <name>WebSocket URI</name>
          </value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
          <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
          </value>
        </entry>
        <entry>
          <key>Connection Timeout</key>
          <value>
            <name>Connection Timeout</name>
          </value>
        </entry>
      </descriptors>
      <name>JettyWebSocketClient</name>
      <properties>
        <entry>
          <key>Input Buffer Size</key>
        </entry>
        <entry>
          <key>Max Text Message Size</key>
        </entry>
        <entry>
          <key>Max Binary Message Size</key>
        </entry>
        <entry>
          <key>WebSocket URI</key>
          <value>ws://stream.meetup.com/2/rsvps</value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
        </entry>
        <entry>
          <key>Connection Timeout</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.websocket.jetty.JettyWebSocketClient</type>
    </controllerServices>
    <processors>
      <id>449c6bd0-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Max Queue Size</key>
            <value>
              <name>Max Queue Size</name>
            </value>
          </entry>
          <entry>
            <key>WebSocket Client Controller Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.websocket.WebSocketClientService</identifiesControllerService>
              <name>WebSocket Client Controller Service</name>
            </value>
          </entry>
          <entry>
            <key>WebSocket Client Id</key>
            <value>
              <name>WebSocket Client Id</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Max Queue Size</key>
            <value>10000</value>
          </entry>
          <entry>
            <key>WebSocket Client Controller Service</key>
            <value>44a29f15-0158-1000-0000-000000000000</value>
          </entry>
          <entry>
            <key>WebSocket Client Id</key>
            <value>AGP-HDF-WS-TEST</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConnectWebSocket</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>binary message</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>connected</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>text message</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.websocket.ConnectWebSocket</type>
    </processors>
    <processors>
      <id>44ab43b1-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>2.4480759625257633</x>
        <y>274.3664121239499</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>mime.type</key>
            <value>
              <name>mime.type</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>mime.type</key>
            <value>application/json</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>44fa1e10-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>555.5316209180983</x>
        <y>115.43873687807354</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>event.name</key>
            <value>
              <name>event.name</name>
            </value>
          </entry>
          <entry>
            <key>event.url</key>
            <value>
              <name>event.url</name>
            </value>
          </entry>
          <entry>
            <key>group.city</key>
            <value>
              <name>group.city</name>
            </value>
          </entry>
          <entry>
            <key>group.country</key>
            <value>
              <name>group.country</name>
            </value>
          </entry>
          <entry>
            <key>group.name</key>
            <value>
              <name>group.name</name>
            </value>
          </entry>
          <entry>
            <key>group.state</key>
            <value>
              <name>group.state</name>
            </value>
          </entry>
          <entry>
            <key>venue.lat</key>
            <value>
              <name>venue.lat</name>
            </value>
          </entry>
          <entry>
            <key>venue.lon</key>
            <value>
              <name>venue.lon</name>
            </value>
          </entry>
          <entry>
            <key>venue.name</key>
            <value>
              <name>venue.name</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>ignore</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
          <entry>
            <key>event.name</key>
            <value>$.event.event_name</value>
          </entry>
          <entry>
            <key>event.url</key>
            <value>$.event.event_url</value>
          </entry>
          <entry>
            <key>group.city</key>
            <value>$.group.group_city</value>
          </entry>
          <entry>
            <key>group.country</key>
            <value>$.group.group_country</value>
          </entry>
          <entry>
            <key>group.name</key>
            <value>$.group.group_name</value>
          </entry>
          <entry>
            <key>group.state</key>
            <value>$.group.group_state</value>
          </entry>
          <entry>
            <key>venue.lat</key>
            <value>$.venue.lat</value>
          </entry>
          <entry>
            <key>venue.lon</key>
            <value>$.venue.lon</value>
          </entry>
          <entry>
            <key>venue.name</key>
            <value>$.venue.venue_name</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>EvaluateJsonPath</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
    <processors>
      <id>4510e5bf-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>556.922066666817</x>
        <y>422.1809007264237</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JsonPath Expression</key>
            <value>
              <name>JsonPath Expression</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JsonPath Expression</key>
            <value>$.group.group_topics</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitJson</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitJson</type>
    </processors>
    <processors>
      <id>454f5be0-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1172.759778040535</x>
        <y>419.2898797139869</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>([{])([\S\s]+)([}])</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>{ 
  "event_name": "${event.name}",
  "event_url": "${event.url}", 
  "venue" : {
  	"lat": "${venue.lat}",
  	"lon": "${venue.lon}",
  	"name": "${venue.name}"
  },
  "group" : { 
  	"group_city" : "${group.city}",
    "group_country" : "${group.country}",
    "group_name" : "${group.name}",
    "group_state" : "${group.state}",
    $2 
   } 
}</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ReplaceText</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>4d6dd6d2-0158-1000-0000-000000000000</id>
      <parentGroupId>33eedf44-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1165.9953164287472</x>
        <y>115.68158857100389</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/temp/rsvp-data</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
  </snippet>
  <timestamp>11/10/2016 03:58:37 EST</timestamp>
</template>